
.carrito-titulo{
    text-align: center;
    margin: 20px;
    font-size: 20px;
}
.table{
    border: 1px solid black;
    border: radius 2px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    background: white;
    margin-bottom: 100px;
}
tr{
    border:black solid 1px
}
th{
    text-transform: uppercase;
    font-size: 12px;
}
th,
td{
    padding: .5rem;
    width:20vh;
    border: rgb(224, 223, 223) solid 1px;
    
}
img{
    max-width: 100%;
    height: auto;
}
.table-id{
    width:50px;
}
.btn-mas{
    background-color: red;
    border: none;
    color: white;
    width: 15px;
}
.btn-menos{
    background-color:teal;
    border: none;
    color: white;
    width: 15px;
}
.btn-vaciar{
    background-color:rgb(8, 63, 8);
    border: none;
    color: white;
}
.carrito-vacio{
    width: 300px;
}