<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title> Hausefun-Diversión para tu mascota</title>
    <meta name="description" content="pagina web para hausefun"/>
    <meta name="author" content="Hausefun"/>
    <meta name="keywords" content="gimnasios para gatos, torres de gatos, arbol de gatos, gatos, mascotas, gatos , casas de perros, perros"/>
    <meta name="robots" content="gimnacio-gato">

    <!--custom css-->
    <link rel="stylesheet" type= "text/css" href="/source/styles/style.css">

    <!-- font amesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    
    <!-- font Oswald-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap" rel="stylesheet">
    
    <!-- icono-->
    <link rel="icon" href="/source/images/log.ico">

</head>
<body>   
    <div class="main-menu-btn"> 
        <i class="fas fa-bars"></i>
    </div>
<!-- header-->
    <header class="main-menu"> 
        <nav class="main-menu-nav">
            <img class="main-menu-log" src="/source/images/logo.webp" alt="Hausefun-logo" >

<!--menu de navegacion-->

            <ul class="main-menu-ul show">
                <li class="main-menu-li"><a class="main-menu-a" href="/index.html"><i class="fas fa-home"></i> Inicio</a></li>
                <li class="main-menu-li"><a class="main-menu-a" href="/index.html#gatos"> Gimnasios para gatos</a></li>
                <li class="main-menu-li"><a class="main-menu-a" href="/index.html#perros"> Casas para perros</a></li>
                <li class="main-menu-li"><a class="main-menu-a" href="/index.html#nosotros"  > Nosotros</a></li>
                <li class="main-menu-li"><a class="main-menu-a" href= "/index.html#redes"> Redes sociales</a></li>
                <li class="main-menu-li"><a class="main-menu-a" href="/pagina_hausefun/contacto.html"><i class="fas fa-envelope"></i> Contactanos</a> </li> 
                    
            </ul>

            <div class="main-menu-search-div">
                <input id="name" class="main-menu-search-input" type="search"  value=" busqueda "placeholder="Buscar">
                <span class="main-menu-search-item"><button type="button" class=" main-menu-search-button"> <i id="name" class="fas fa-search"></i> </button> </span>   
                    
            </div> 
                
        </nav> 
        <div class="main-menu-users">
            <div class=" main-menu-user">
                <a class="main-menu-user-a" href="#"><i class=" fas fa-phone-square"></i> 3176450077</a>
                <a class="main-menu-user-a" href="#"> Mi cuenta <i class="fas fa-user"></i></a>
                <a class="main-menu-user-a" href="#"> Mi cesta <i class="fas fa-shopping-cart"></i></a>
            </div>
        </div>  
    </header>    
    <main>

        <section class="cards-link-section">
            <div class="cards-link-div">
                <img class="cards-link-image" src="/source/images/a2.webp" alt="gym 1"></a>  
                
                <div class="cards-link-description">
                    <h4 class="cards-link-h4"> Descripción</h4>
                    <p class="cards-link-p">Gimnacio de dos pisos que permite desarrollar las destrezas y habilidades de tu gatito <br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam nemo natus dolor <br> perspiciatis labore ullam, aliquid rem eum deserunt suscipit possimus architecto harum <br> fugit! Tempore esse assumenda accusamus aliquam alias? </p>
                </div>
            </div>

            <aside class="cards-link-aside">
                <div class="cards-link-price">
                    <h4 class="cards-link-gymname"> Gimnasio Titan</h4>
                    <p class="cards-link-cost"> $ 160.000 cop </p>
                </div>
                <div class="cards-link-amount">
                    <form action="#" method="POST"> 
                        <label class="cards-link-label" for="amount"> Cantidad</label>
                        <div><input class="cards-link-input" type="number" name="amount" id="amount"> </div>
                        <button class="cards-link-button" type="submit">Añadir a mi cesta </button>
                    </form>
                </div>
            </aside>
       

        </section>
   
 
    
        <section class="social" id="redes">
            <h2 class="social-h2">  Siguenos en nuestras redes sociales</h2>
    
            <div class="social-div">
                <a class="social-a" href="https://www.facebook.com/Hausefun-Diversi%C3%B3n-para-tu-mascota-106483041317322" target="_blank"> <i class="fab fa-facebook-f"></i></a>
                <a class="social-a" href="https://www.instagram.com/hausefun_mascotas/" target="_blank"><i class="fab fa-instagram"></i> </a>
            </div>
            
        </section> 

    </main>    
    

<!-- aqui_comienza_el_footer -->

    <footer class="pie">

        <ul class="pie-ul">
         
            <li> <a href="/index.html#nosotros"> Nosotros</a></li>
            <li>Información</li>
            <li>informacion de ventas</li>
            <li>horario de atención</li>
            <li><a href="/index.html"> Volver al inicio</a> <br></li>            
     </ul>
    </footer>

        <h5>Derechos reservados 2021-2022</h5>  
<script src="/source/scripts/main.js">

</script>
</body>

</html>

